name: Yara validation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        git clone https://github.com/VirusTotal/yara.git
        cd yara
        sudo bash build.sh
        sudo make install
        sudo ldconfig

    - name: Test with yara
      run: |
        cd scripts; bash validate.sh
      env:
        testing: actions

