name: Yara validation

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        apt-get install yara
        pip install poetry
        poetry install

    - name: Test with yara
      run: |
        cd scripts; bash validate.sh
      env:
        testing: actions

